body {
  font-family: sans-serif, Arial, Helvetica;
}
.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: orange;
  align-items: center;
  text-align: center;
  width: 1024px;
  margin: auto;
  height: 50px;
  border: 2px solid black;
}
#uppercase {
  text-transform: uppercase;
}
.background {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: royalblue;
}
.ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin-left: -217px;
}
.ul:first-child {
  border-left: 2px solid darkslategrey;
  background-color: royalblue;
}
li {
  list-style: none;
}
.link,
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-right: 2px solid darkslategrey;
  text-decoration: none;
}

.logo {
  width: 200px;
  border-right: none;
}
#login {
  border: none;
  border-left: 2px solid darkslategrey;
}
.main {
  width: 720px;
  background-color: yellow;
  border-right: 2px solid darkslategrey;
  flex-direction: column;
}
.main,
.aside,
.container,
.article,
.article-1,
.article-2,
.footer,
.form-heading,
.form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.article {
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.article-1 > p:nth-of-type(2) {
  font-weight: bold;
  color: blue;
}
.article-1,
.article-2 {
  flex-direction: column;
  width: 320px;
}
.article-2 {
  margin-right: 10px;
}
.article-1 {
  margin-left: 10px;
}
.aside {
  width: 304px;
  background-color: lightblue;
  flex-direction: column;
  text-align: left;
}
.container {
  border: 2px solid darkslategrey;
  border-top: none;
  flex-direction: row;
  margin: auto;
  width: 1024px;
}
#head-aside {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
#ul-aside {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#head-aside,
#ul-aside {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
}

.article-heading,
.article-1,
.article-2,
.aside-heading,
.aside-ul,
.main-paragraph {
  background-color: gray;
  border: 2px solid darkslategrey;
  border-radius: 5px;
}
.aside-heading {
  background-color: gray;
  border: 2px solid darkslategrey;
  border-radius: 5px 5px 0 0;
}
.aside-ul {
  background-color: gray;
  border: 2px solid darkslategrey;
  border-radius: 0 0 5px 5px;
}
.main-paragraph,
.article-heading {
  margin-left: 21px;
  margin-right: 21px;
}
.article-heading {
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  width: 250px;
}
.main-paragraph {
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  margin: 0 auto;
}
.footer {
  background-color: indigo;
  height: 50px;
  border: 2px solid darkslategrey;
  width: 1024px;
  margin: 0 auto;
  border-top: none;
  text-align: center;
  align-items: center;
  font-size: large;
  color: white;
}
#login-page {
  width: 1024px;
  margin: 0 auto;
  height: 400px;
  border-left: 2px solid darkslategrey;
  justify-content: flex-start;
}

.form-heading {
  background-color: gray;
  width: 200px;
  margin-left: 200px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
}
.form {
  background-color: gray;
  flex-direction: column;
  margin: 10px auto;
  width: 630px;
  padding: 20px;
  border-radius: 5px;
}
input {
  display: flex;
  margin: 10px 0;
  height: 30px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
}
#reset,
#submit {
  justify-content: right;
  align-self: flex-end;
  text-align: center;
  font-size: large;
  width: 100px;
}
#submit {
  background-color: blue;
  height: 30px;
}
#submit:hover {
  background-color: white;
}
#reset {
  background-color: var(--clr-neon);
}
#reset:hover {
  background-color: black;
  color: white;
}
ol li:nth-child(odd) {
  color: red;
}
ol li:nth-child(even) {
  color: darkgreen;
}
/* neon button */
:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.neon-button {
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.0625em solid;
  padding: 0.125em 0.5em;
  border-radius: 0.125em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
  background-color: white;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
